.kpn-input-wrapper {
    display: flex;
    width: 100%;
    position: relative;
    padding: 10px 20px;
    border-bottom: 1px solid #304FFE;
    margin-bottom: 35px;
}

.kpn-input {
    background: transparent;
    border:none;
    line-height: 1.5;
    height: auto;
    color: white;
    border-radius: 0;
    box-shadow: none;
    font-size: 15px;
    flex-grow: 1;
    padding: 0;
}

.kpn-input:focus {
    outline: none;
}

.kpn-input::placeholder {
    color: rgba(255,255,255,0.5);
}

.kpn-input-wrapper--user,
.kpn-input-wrapper--email,
.kpn-input-wrapper--about {
    padding-left: 38px;
}

.kpn-input-wrapper--user::before,
.kpn-input-wrapper--email::before,
.kpn-input-wrapper--about::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
}

.kpn-input-wrapper--user:before {
    background: url("../img/icons/user-ico.svg") no-repeat;
}
.kpn-input-wrapper--email:before {
    background: url("../img/icons/email-ico.svg") no-repeat;
}
.kpn-input-wrapper--about:before {
    background: url("../img/icons/info-ico.svg") no-repeat;
}

.kpn-form .form-group {
    margin-bottom: 40px;
}

.form-group__inner {
    display: flex;
    justify-content: space-between;
}

.kpn-label {
    padding: 0;
    text-align: left;
    width: 100%;
    display: block;
    font-size: 15px;
    color: #FFFFFF;
    margin-bottom: 10px;
    font-weight: 500;
}

.kpn-radio {
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #304FFE;
    margin-bottom: 0;
}

.kpn-radio span {
    opacity: 0.5;
}

.kpn-radio > input:checked ~ span {
    opacity: 1;
}

.kpn-radio input {
    display: none;
}

.kpn-checkbox {
    cursor: pointer;
    position: relative;
    font-weight: 500;
    font-size: 15px;
    display: flex;
    align-items: center;
    color: white;
    margin-bottom: 0;
    padding-left: 32px;
}

.kpn-checkbox input {
    display: none;
}

.kpn-checkbox i {
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background: url("../img/icons/checkbox.svg") no-repeat;
}

.kpn-checkbox input:checked ~ i {
    background: url("../img/icons/checkbox-checked.svg") no-repeat;
}

.kpn-contact__decoration-wrapper {
    position: relative;
}

.kpn-contact__decoration {
    position: absolute;
    display: block;
    right: 0;
    top: -50px;
}

.kpn-range-slider-label {
    line-height: 1.5;
    display: flex;
}

.kpn-range-slider-label span{
    color: #304FFE;
    margin-left: 16px;
}

.kpn-range-slider {
    width: 100%;
}

.kpn-range-slider input {
    display: none;
}

.kpn-range-slider__inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.kpn-range-slider__block {
    width: 16px;
    height: 16px;
    border: 2px solid #304FFE;
}

.kpn-range-slider__block--active {
    background: #304FFE;
}