@font-face {
    font-family: Mont;
    src: url('../fonts/Mont-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Mont;
    src: url('../fonts/Mont-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Mont;
    src: url('../fonts/Mont-SemiBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-family: 'Mont';
    line-height: 1.5;
    color: white;
    background: #151515;
}

h1 {
    font-weight: 600;
    font-size: 75px;
    color: #FFFFFF;
}

p {
    margin: 0;
    margin-bottom: 16px;
}

.kpn-btn {
    color: white;
    width: 100%;
    display: inline-flex;
    align-items: center;
    border: 2px solid #FFFFFF;
    background: transparent;
    justify-content: center;
    font-weight: 600;
    transition: all .3s;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 0;
    outline: none !important;
    box-shadow: none;
}

.kpn-btn:hover {
    text-decoration: none;
    color: #151515;
    background: white;
}

.kpn-btn--small {
    width: 190px;
    padding: 0;
}

.kpn-btn--small-arrow {
    width: 190px;
    border: none;
    padding: 0;
    text-transform: lowercase;
    justify-content: space-between;
}

.kpn-btn--small-arrow:hover {
    color: #304FFE;
    background: transparent;
}

.kpn-btn--small-arrow:hover svg path{
    fill: #304FFE;
}

.kpn-small-title {
    font-weight: bold;
    font-size: 15px;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 8px;
}

/*** Header start ***/
.kpn-header {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

}

.kpn-header__container {
    width: 1310px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
}

.kpn-nav {
    display: flex;
    width: calc(100% - 235px);
    justify-content: space-between;
    align-items: center;
}

.kpn-nav__link {
    display: flex;
    align-items: center;
    color: rgba(255,255,255,0.5);
    background: transparent;
    outline: none;
    padding: 0;
    border-radius: 0;
    border: none;
    font-weight: 600;
}

.kpn-nav__link:hover {
    color: white;
    text-decoration: none;
}

.kpn-nav__link svg {
    margin-left: 10px;
}

.kpn-nav__link:hover svg path{
    opacity: 1;
}
/*** Header end ***/

/*** Homepage start ***/

.kpn-section {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.kpn-intro {
    background: url("../img/intro-bg.jpg") no-repeat;
    background-position: center;
    background-size: cover;
}

.kpn-intro__decoration-wrapper {
    position: relative;
}

.kpn-intro__decoration {
    position: absolute;
    top: -130px;
    right: -80px;
}

.kpn-intro__title {
    margin: 0;
    margin-bottom: 8px;
}

p.kpn-intro__sub-text {
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: uppercase;
}

p.kpn-intro__text {
    text-align: justify;
}

.kpn-intro__learn {
    margin-bottom: 30px;
}

/* innovate start*/
.kpn-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 1.5;
    color: #FFFFFF;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 0;
}

.kpn-title--mb-70 {
    margin-bottom: 70px;
}

.kpn-title span {
    padding: 0 32px;
    z-index: 1;
    background: #151515;
}

.kpn-title::before {
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background-image: url("../img/decorative-for-title.svg");
    background-size: cover;
    height: 24px;
    width: 24px;
    z-index: -1;
}

.kpn-title::after {
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    right: 0;
    width: calc(100% - 32px);
    transform: translateY(-50%);
    background-color: #304FFE;
    height: 1px;
    z-index: -1;
}

.kpn-title--no-decoration::before ,
.kpn-title--no-decoration::after {
    content: none;
}

.kpn-title--justify-start {
    justify-content: flex-start;
}

.kpn-title--upper {
    text-transform: uppercase;
}

.kpn-desc--big {
    font-weight: 500;
    font-size: 24px;
    margin: 0 auto;
    margin-bottom: 100px;
    width: 70%;
}

.kpn-innovate-item {
    width: 100%;
    padding: 0 20px;
    text-align: center;
    border-right: 1px solid #304FFE;
}

.kpn-innovate-item--no-border {
    border-right: none;
}

.kpn-sub-title {
    width: 100%;
    font-weight: 600;
    font-size: 32px;
    color: #FFFFFF;
    text-align: center;
    margin: 0;
    margin-bottom: 30px;
}

.kpn-sub-title--text-left {
    text-align: left;
}

.kpn-sub-title--16-mb {
    margin-bottom: 16px;
}

/* innovate end*/


/* dev-slider start*/
.kpn-slider {
    width: 100%;
    position: relative;
}

.kpn-slider__arrow {
    z-index: 3;
    width: auto;
    padding: 0;
    outline: none;
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    left: 65px;
    border: none;
    background: transparent;
}

.kpn-slider__arrow:hover {
    background: transparent;
    border: none;
}

.kpn-slider__arrow--next {
    left: unset;
    right: 65px;
}

.kpn-slider__arrow--contained {
    left: -100px;
}

.kpn-slider__arrow--contained.kpn-slider__arrow--next {
    left: unset;
    right: -100px;
}


.kpn-slider__nav {
    z-index: 3;
    position: absolute;
    display: flex;
    min-width: 200px;
    justify-content: space-between;
    right: 65px;
    bottom: 65px;
}

.kpn-slider__dot {
    padding: 0;
    width: 16px;
    outline: none;
    height: 16px;
    border: 1px solid #FFA000;
    display: block;
    background: transparent;
}


.kpn-slider__dot:hover {
    background: transparent;
    border: 1px solid #FFA000;
}

.kpn-slider__dot--active {
    background: #FFA000;
    position: relative;
}

.kpn-slider__dot--active:before {
    height: 16px;
    position: absolute;
    width: 2px;
    content: '';
    display: block;
    background: #FFA000;
    top: -1px;
    right: -7px;
}

.kpn-slider__dot--active:hover {
    background: #FFA000;
}

.kpn-slider__inner {
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.kpn-slide {
    display: none;
    position: relative;
}

.kpn-slide__bg {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
    left: 0;
    top: 0;
}

.kpn-slide--full-screen {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.kpn-slide--full-screen .container {
    z-index: 2;
}

.kpn-slide--full-screen::before {
    z-index: 1;
    width: 47%;
    background: rgba(55,80,254,.3);
    height: 100%;
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}

.kpn-slide--active {
    display: block;
}

.kpn-slide--full-screen.kpn-slide--active {
    display: flex;
}

.kpn-slide__show-more {
    display: flex;
    margin-top: 30px;
}

.kpn-slide--full-screen .kpn-hashtag {
    position: absolute;
    bottom: -215px;
}

.kpn-hashtag {
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.05em;
    text-transform: lowercase;
    color: #FFC107;
}

/* dev-slider end*/


/* trust start */
.kpn-trust__divider {
    margin-top: 50px;
    width: 100%;
    height: 1px;
    background: #304FFE;
    margin-bottom: 80px;
}

.kpn-trust__btn {
    margin-top: 30px;
}

.kpn-trust__col {
    display: flex;
    justify-content: flex-end;
}

.kpn-partner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
/* trust end */

/* services start */
.kpn-services__title {
    margin-bottom: 100px;
}

.kpn-list {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.kpn-list-item {
    display: block;
    width: 100%;
    padding: 8px 0;
    border-top: 1px solid #304FFE;
    border-bottom: 1px solid #304FFE;
}

.kpn-list-item__link {
    cursor: pointer;
    font-weight: 600;
    font-size: 32px;
    display: block;
    width: 100%;
    padding: 8px 32px;
    text-align: left;
    color: #304FFE;
}

.kpn-list-item__link:hover,
.kpn-list-item__link--active {
    background: #304FFE;
    color: white;
}

.kpn-services__row {
    display: flex;
    align-items: center;
}

.kpn-services__details {
    position: relative;
}

.kpn-services__details::before {
    content: '';
    display: block;
    width: 70px;
    height: 70px;
    background-image: url("../img/cross.svg");
    background-size: cover;
    position: absolute;
    z-index: -1;
    left: 32px;
    bottom: -32px;
}

.kpn-services__details::after {
    content: '';
    display: block;
    width: 120px;
    height: 120px;
    background-image: url("../img/cross.svg");
    background-size: cover;
    position: absolute;
    z-index: -1;
    right: 0;
    top: -80px;
}

/* services end */

/* news start */
.kpn-news .container{
    width: 1312px;
}

.kpn-news__grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 256px);
    grid-gap: 32px;
}

.kpn-news-item:nth-child(1) {
    grid-row-start: 1;
    grid-row-end: 3;
}

.kpn-news-item:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 4;
}

.kpn-news-item:nth-child(5) {
    grid-column-start: 3;
    grid-column-end: 5;
}

.kpn-news-item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    padding: 16px;
    overflow: hidden;
}

.kpn-news-item::before {
    width: 100%;
    height: 100%;
    display: block;
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    background: #000000;
    opacity: 0.7;
    z-index: -1;
}

.kpn-news-item:hover::before {
    height: 2px;
    background: #FFC107;
    bottom: 0;
    top: unset;
}

.kpn-news-item__bg {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    top: 0;
    left: 0;
    z-index: -2;
}

.kpn-news-item__hashtag {
    text-transform: none;
    display: block;
    position: absolute;
    left: 16px;
    top: 16px;
}

.kpn-date {
    font-weight: 500;
    font-size: 15px;
    color: #FFFFFF;
    opacity: 0.5;
}

.kpn-news-item__date {
    display: block;
    position: absolute;
    right: 16px;
    top: 16px;
}

.kpn-news-item__title {
    font-weight: 600;
    font-size: 24px;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.kpn-news-item__title:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.kpn-author {
    font-weight: 500;
    font-size: 15px;
    color: #FFFFFF;
    opacity: 0.5;
}

.kpn-news__btn {
    display: flex;
    width: 415px;
    margin: 0 auto;
    margin-top: 32px;
}

/* news end */

/* contacts start */

.kpn-input-wrapper {
    display: flex;
    width: 100%;
    position: relative;
    padding: 10px 20px;
    border-bottom: 1px solid #304FFE;
    margin-bottom: 35px;
}

.kpn-input {
    background: transparent;
    border:none;
    line-height: 1.5;
    height: auto;
    color: white;
    border-radius: 0;
    box-shadow: none;
    font-size: 15px;
    flex-grow: 1;
    padding: 0;
}

.kpn-input:focus {
    outline: none;
}

.kpn-input::placeholder {
    color: rgba(255,255,255,0.5);
}

.kpn-input-wrapper--user,
.kpn-input-wrapper--email,
.kpn-input-wrapper--about {
    padding-left: 38px;
}

.kpn-input-wrapper--user::before,
.kpn-input-wrapper--email::before,
.kpn-input-wrapper--about::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
}

.kpn-input-wrapper--user:before {
    background: url("../img/icons/user-ico.svg") no-repeat;
}
.kpn-input-wrapper--email:before {
    background: url("../img/icons/email-ico.svg") no-repeat;
}
.kpn-input-wrapper--about:before {
    background: url("../img/icons/info-ico.svg") no-repeat;
}

.kpn-form .form-group {
    margin-bottom: 40px;
}

.form-group__inner {
    display: flex;
    justify-content: space-between;
}

.kpn-label {
    padding: 0;
    text-align: left;
    width: 100%;
    display: block;
    font-size: 15px;
    color: #FFFFFF;
    margin-bottom: 10px;
    font-weight: 500;
}

.kpn-radio {
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #304FFE;
    margin-bottom: 0;
}

.kpn-radio span {
    opacity: 0.5;
}

.kpn-radio > input:checked ~ span {
    opacity: 1;
}

.kpn-radio input {
    display: none;
}

.kpn-checkbox {
    cursor: pointer;
    position: relative;
    font-weight: 500;
    font-size: 15px;
    display: flex;
    align-items: center;
    color: white;
    margin-bottom: 0;
    padding-left: 32px;
}

.kpn-checkbox input {
    display: none;
}

.kpn-checkbox i {
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background: url("../img/icons/checkbox.svg") no-repeat;
}

.kpn-checkbox input:checked ~ i {
    background: url("../img/icons/checkbox-checked.svg") no-repeat;
}

.kpn-contact__decoration-wrapper {
    position: relative;
}

.kpn-contact__decoration {
    position: absolute;
    display: block;
    right: 0;
    top: -50px;
}

.kpn-range-slider-label {
    line-height: 1.5;
    display: flex;
}

.kpn-range-slider-label span{
    color: #304FFE;
    margin-left: 16px;
}

.kpn-range-slider {
    width: 100%;
}

.kpn-range-slider input {
    display: none;
}

.kpn-range-slider__inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.kpn-range-slider__block {
    width: 16px;
    height: 16px;
    border: 2px solid #304FFE;
}

.kpn-range-slider__block--active {
    background: #304FFE;
}

/* contacts end */

/* footer start */
.kpn-footer {
    border-top: 1px solid #304FFE;
    padding: 30px 0;
    width: 100%;
}

.kpn-footer__container {
    width: 1310px;
    margin: 0 auto;
}

.kpn-footer__col {
    display: flex;
    flex-direction: column;
}

.kpn-footer__col a,
.kpn-footer__col span {
    font-weight: 500;
    font-size: 15px;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.kpn-footer__col a:hover {
    color: #304FFE;
    text-decoration: none;
}

.kpn-contact-us {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 8px;
}

.kpn-contact-us a {
    margin-right: 16px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

.kpn-contact-us a:hover svg path{
    fill: #304FFE;
}

.kpn-copyright {
    text-transform: uppercase;
}

/* footer end */

/*** Homepage end ***/
