@font-face {
    font-family: Mont;
    src: url('../fonts/Mont-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Mont;
    src: url('../fonts/Mont-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Mont;
    src: url('../fonts/Mont-SemiBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-family: 'Mont';
    line-height: 1.5;
    color: white;
    background: #151515;
}

h1 {
    font-weight: 600;
    font-size: 75px;
    color: #FFFFFF;
}

p {
    margin: 0;
    margin-bottom: 16px;
}

.kpn-btn {
    width: 100%;
    display: inline-flex;
    align-items: center;
    border: 2px solid #FFFFFF;
    background: transparent;
    justify-content: center;
    font-weight: 600;
    transition: all .3s;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 0;
}

.kpn-btn:hover {
    color: #151515;
    background: white;
}

.kpn-btn--small {
    width: 190px;
    padding: 0;
}

.kpn-btn--small-arrow {
    width: 190px;
    border: none;
    padding: 0;
    text-transform: lowercase;
    justify-content: space-between;
}

.kpn-btn--small-arrow:hover {
    color: #304FFE;
    background: transparent;
}

.kpn-btn--small-arrow:hover svg path{
    fill: #304FFE;
}


/*** Header start ***/
.kpn-header {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

}

.kpn-header__container {
    width: 1310px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
}

.kpn-nav {
    display: flex;
    width: calc(100% - 235px);
    justify-content: space-between;
    align-items: center;
}

.kpn-nav__link {
    display: flex;
    align-items: center;
    color: rgba(255,255,255,0.5);
    background: transparent;
    outline: none;
    padding: 0;
    border-radius: 0;
    border: none;
    font-weight: 600;
}

.kpn-nav__link:hover {
    color: white;
    text-decoration: none;
}

.kpn-nav__link svg {
    margin-left: 10px;
}

.kpn-nav__link:hover svg path{
    opacity: 1;
}
/*** Header end ***/

/*** Homepage start ***/

.kpn-section {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.kpn-intro {
    background: url("../img/intro-bg.jpg") no-repeat;
    background-position: center;
    background-size: cover;
}

.kpn-intro__decoration-wrapper {
    position: relative;
}

.kpn-intro__decoration {
    position: absolute;
    top: -130px;
    right: -80px;
}

.kpn-intro__title {
    margin: 0;
    margin-bottom: 8px;
}

p.kpn-intro__sub-text {
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: uppercase;
}

p.kpn-intro__text {
    text-align: justify;
}

.kpn-intro__learn {
    margin-bottom: 30px;
}

/* innovate start*/
.kpn-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 1.5;
    color: #FFFFFF;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 0;
}

.kpn-title--mb-70 {
    margin-bottom: 70px;
}

.kpn-title span {
    padding: 0 32px;
    z-index: 1;
    background: #151515;
}

.kpn-title::before {
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background-image: url("../img/decorative-for-title.svg");
    background-size: cover;
    height: 24px;
    width: 24px;
    z-index: -1;
}

.kpn-title::after {
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    right: 0;
    width: calc(100% - 32px);
    transform: translateY(-50%);
    background-color: #304FFE;
    height: 1px;
    z-index: -1;
}

.kpn-title--no-decoration::before ,
.kpn-title--no-decoration::after {
    content: none;
}

.kpn-desc--big {
    font-weight: 500;
    font-size: 24px;
    margin: 0 auto;
    margin-bottom: 100px;
    width: 70%;
}

.kpn-innovate-item {
    width: 100%;
    padding: 0 20px;
    text-align: center;
    border-right: 1px solid #304FFE;
}

.kpn-innovate-item--no-border {
    border-right: none;
}

.kpn-sub-title {
    width: 100%;
    font-weight: 600;
    font-size: 32px;
    color: #FFFFFF;
    text-align: center;
    margin: 0;
    margin-bottom: 30px;
}

/* innovate end*/


/*** Homepage end ***/
