.kpb-blog-list .container {
    width: 1310px;
    margin: 0 auto;
}

.kpb-blog-list__news-grid {
    margin-bottom: 64px;
}


@media screen and (max-width: 1199px) {
    .kpb-blog-list .container{
        width: 100%;
    }
}