.kpn-nav {
    display: flex;
    width: calc(100% - 235px);
    justify-content: space-between;
    align-items: center;
}

.kpn-nav__link {
    display: flex;
    align-items: center;
    color: rgba(255,255,255,0.5);
    background: transparent;
    outline: none;
    padding: 0;
    border-radius: 0;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
}

.kpn-nav__link:hover {
    color: white;
    text-decoration: none;
}

.kpn-nav__link svg {
    margin-left: 10px;
}

.kpn-nav__link:hover svg path{
    opacity: 1;
}